*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image: linear-gradient(to right, #000000, #2e2e2e, #585859, #878787, #b8b9b9, #b8b9b9, #b8b9b9, #b8b9b9, #878787, #585859, #2e2e2e, #000000);
}    

html{
    scroll-behavior: smooth;
}

.logo{
    border: 0px;
    width: 70px;
    height: 70px;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: rgba(48, 47, 47, 0.694);
}
.navbar-nav{
    float: right;
}
.navbar-collapse{
    flex-grow: 0;
    font-size: 20px;
    margin: 10px;
    float: right;
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 25px;
    color: #000;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #ffd700;
}
h1{
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    font-size: 80px;
    color: black;
    margin: 200px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.h2{
    text-align: center;
    font-family: 'comfortaa', 'cursive';
    font-size: 40px;
    color: #000;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.h3{
    text-align: center;
    font-family: 'comfortaa', 'cursive';
    font-size: 30px;
    color: #ffd700;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion{
    text-align: center;
    color: white;
    background-color: #000;
    border:2px solid #FFD700;
    border-radius: 15px;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 80px;
    width: 75%;
    height: 510px;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow: auto;
    text-transform: capitalize;
}

.articulo{
    color: white;
}

.seccion1{
    text-align: center;
    color: white;
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin: auto;
    margin-top: 200px;
    padding: 50px;
    width: 75%;
    height: 500px;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow: auto;
    text-transform: capitalize;
}

#sec1{
    margin-top: 300px;
}

.seccion2{
    text-align: center;
    color: white;
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin: auto;
    margin-top:200px;
    padding: 40px;
    width: 75%;
    height: 500px;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}
.coinmarket{
    background-color: rgb(0, 51, 255);
    border-radius: 20px;
}
.seccion2 a{
    text-decoration: none;
    border-radius: 10px;
    color: #ffd700;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.seccion2 a:hover{
    transform: translateX(3);
    transition: all 4s ease-in;
}

.seccion3{
    text-align: center;
    color: white;
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin: auto;
    margin-top:200px;
    padding: 100px;
    width: 75%;
    height: 500px;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow: auto;
    transform: scale(1);
    transition: all 4s;
    text-transform: capitalize;
}
.conteiner{
    width: 80%;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
}
.card{
    width: 40%;
    height: 500px;
    margin: 50px;
    border-radius: 6px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0, 2);
    cursor: default;
    transition: all 1s ease;
    color: white;
    border: 3px solid #ffd700;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0, 4);
    transform: translateY(-3%);
}
figure{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
figure img{
    width: 80%;
    height: 150px;
}
.contenido{
    margin: 30px;
}

#binance{
    color: #ffd700;
}

#intro{
    height: 340px;
    font-size: 30px;
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: 'Cairo', sans-serif;
}

.seccion4{
    text-align: center;
    color: white;
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin: auto;
    margin-top:200px;
    padding: 100px;
    width: 75%;
    height: 500px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow: auto;
}

.info{
    text-decoration: none;
    color: #FFD700;
}

.info:hover{
    color: white;
}

.titulo1{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    font-size: 30px;
    color: #ffd700;
    margin: 40px;
    margin-bottom: 90px;
    text-transform: capitalize;
}
.subtitulo{
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.subtitulo:hover{
    color: #ffd700;
    cursor: pointer;
}
.tabla{
    font-size: 18px;
    text-transform: capitalize;
}
.tabla:hover{
    color: #ffd700;
    cursor: pointer;
    transform: scale(1.5);
    transition: all 1s ease;
}

.tabla1{
    background-color: #000;
    border: 2px solid #ffd700;
    color: white;
    width: 75%;
    margin-top:200px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.titulo2{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    font-size: 30px;
    color: #ffd700;
    margin: 40px;
    margin-bottom: 90px;
    text-transform: capitalize;
}

.tabla2{
    background-color: #000;
    border: 2px solid #ffd700;
    color: white;
    width: 75%;
    margin-top:200px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

#footer{
    background: rgba(38, 38, 38, 0.696);
    width: 100%;
    height: 130px;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
}

#footer p{
    text-align: center;
    font-family: 'cairo', 'sans-serif';
    font-size: 25px;
}

#footer a{
    text-align: center;
    display: inline-flex;
    text-decoration: none;
    font-size: 35px;
    padding: 5px;
}
#footer a i:hover{
    color: #FFD700;
    cursor: pointer;
    transform: rotateY(1turn) scale(1.3);
    transition: all 1.2s;
}

.subir{
    height: 40px;
    width: 40px;
    background-color: #000;
    border: 5px solid black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFD700;
}
.subir i{
    color: white;
}
.subir i:hover{
    color: #FFD700;
}
@media only screen and (max-width:768px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-image: linear-gradient(to right, #000000, #2e2e2e, #585859, #878787, #b8b9b9, #b8b9b9, #b8b9b9, #b8b9b9, #878787, #585859, #2e2e2e, #000000);
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    .logo{
        border: 0px;
        width: 55px;
        height: 55px;
    }
    .navbar{
        width: 100%;
        height: 80px;
        background-color: rgba(48, 47, 47, 0.694);
    }
    .navbar-nav{
        float: right;
    }
    .navbar-collapse{
        flex-grow: 0;
        font-size: 10px;
        margin: 10px;
        float: right;
        text-transform: capitalize;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size: 20px;
        color: #000;
    }
    .navbar-dark .navbar-nav .nav-link:hover{
        color: #ffd700;
    }
    h1{
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        font-size: 50px;
        color: black;
        margin: 100px;
        align-items: center;
        justify-content: center;
    }
    h2{
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        font-size: 50px;
        color: black;
        margin: 100px;
        align-items: center;
        justify-content: center;
    }
    
    h3{
        text-align: center;
        font-family: 'comfortaa', 'cursive';
        font-size: 30px;
        color: white;
        margin: 20px;
    }
    
    .seccion{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 60px;
        margin-right: 75px;
        padding: 20px;
        width: 75%;
        height: 400px;
        display: block;
        align-items: center;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: auto;
    }
    
    .articulo{
        color: white;
    }
    
    .seccion1{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin: auto;
        margin-top: 150px;
        padding: 20px;
        width: 90%;
        height: 500px;
        display: inline-flexbox;
        align-items: center;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: auto;
    }
    
    #sec1{
        margin-top: 300px;
    }
    
    .seccion2{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin: auto;
        margin-top: 150px;
        padding: 13px;
        width: 90%;
        height: 500px;
        align-items: center;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: none;
    }
    .coinmarket{
        background-color: rgb(0, 51, 255);
        border-radius: 20px;
    }
    
    .seccion3{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin: auto;
        margin-top: 100px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 510px;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: none;
    }
    .conteiner{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1100px;
    }
    .card{
        width: 80%;
        height: 500px;
        margin: auto;
        margin-top: 80px;
        border-radius: 6px;
        overflow: none;
        background-color: black;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0, 2);
        cursor: default;
        transition: all 1s ease;
        color: white;
        border: 3px solid #ffd700;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0, 4);
        transform: translateY(-3%);
    }
    figure{
        text-align: center;
    }
    figure img{
        width: 100%;
        height: 150px;
        margin-top: 20px;
        margin: auto;
    }
    .contenido{
        margin: 20px;
    }

    #intro{
        height: 270px;
        font-size: 20px;
    }
    
    .seccion4{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin: auto;
        margin-top: 150px;
        padding: 20px;
        width: 90%;
        height: 500px;
        display: block;
        align-items: center;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: auto;
    }
    
    .info{
        text-decoration: none;
        color: #FFD700;
    }
    
    .info:hover{
        color: white;
    }
    
    .titulo1{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        font-size: 23px;
        color: #ffd700;
        margin: 20px;
        padding: 10px;
    }
    
    .tabla1{
        background-color: #000;
        border: 2px solid black;
        color: white;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 60px;
        margin-right: 75px;
        padding: 40px;
        width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 50px;
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }
    .subtitulo{
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
    }
    .subtitulo:hover{
        color: #ffd700;
        cursor: pointer;
    }
    .tabla{
        font-size: 14px;
        text-transform: capitalize;
        cursor: pointer;
    }
    .tabla:hover{
        color: #ffd700;
        cursor: pointer;
        transform: scale(1.5);
        transition: all 1s ease;
    }
    
    .titulo2{
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        font-size: 23px;
        color: #ffd700;
        margin: 40px;
    }
    
    .tabla2{
        background-color: #000;
        border: 2px solid black;
        color: white;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 60px;
        margin-right: 75px;
        padding: 40px;
        width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 50px;
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }
    
    footer{
        background: rgba(38, 38, 38, 0.696);
        width: 100%;
        height: 130px;
        margin-top: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        color: white;
    }
    
    footer p{
        text-align: center;
        font-family: 'cairo', 'sans-serif';
        font-size: 20px;
    }
    
    footer a{
        text-align: center;
        display: inline-flex;
        text-decoration: none;
        font-size: 30px;
    }
    footer a i:hover{
        color: #FFD700;
        cursor: pointer;
        transform: rotateY(1turn) scale(1.3);
        transition: all 1.2s;
    }
    
    .subir{
        height: 40px;
        width: 40px;
        background-color: #000;
        border: 5px solid black;
        position: fixed;
        bottom: 20px;
        right: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        box-shadow: 0 0 10px #FFD700;
    }
    .subir i{
        color: white;
    }
    .subir i:hover{
        color: #FFD700;
    }
}
