*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left, #ffd700, #ffc36e, #ffc2ba, #ffd4ef, #ffe9ff, #ffe9ff, #ffe9ff, #ffe9ff, #ffd4ef, #ffc2ba, #ffc36e, #ffd700);
}

html{
    scroll-behavior: smooth;
}

.logo{
    border: 0px;
    width: 70px;
    height: 70px;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: rgba(48, 47, 47, 0.694);
}
.navbar-nav{
    float: right;
}
.navbar-collapse{
    flex-grow: 0;
    font-size: 20px;
    margin: 10px;
    float: right;
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 25px;
    color: #000;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #ffd700;
}
h1{
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    font-size: 80px;
    color: black;
    margin: 200px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    font-family: 'comfortaa', 'cursive';
    font-size: 35px;
    color: white;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion{
    text-align: center;
    color: white;
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 80px;
    width: 75%;
    height: 500px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow: auto;
}

.articulo{
    color: white;
}

.seccion1{
    text-align: center;
    color: white;
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin: auto;
    margin-top: 200px;
    padding: 80px;
    width: 75%;
    height: 500px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow: auto;
}

#sec1{
    margin-top: 300px;
}

.seccion2{
    text-align: center;
    color: black;
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin: auto;
    margin-top:200px;
    padding: 100px;
    width: 75%;
    height: 500px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow: auto;
}

.seccion3{
    text-align: center;
    color: white;
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin: auto;
    margin-top:200px;
    padding: 100px;
    width: 75%;
    height: 500px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow: auto;
}

.seccion4{
    text-align: center;
    color: white;
    background-color: #000;
    border:2px solid white;
    border-radius: 15px;
    margin: auto;
    margin-top:200px;
    padding: 100px;
    width: 75%;
    height: 500px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow: auto;
}

.info{
    text-decoration: none;
    color: #FFD700;
}

.info:hover{
    color: white;
}

.titulo1{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    font-size: 30px;
    color: white;
    margin: 40px;
}

.tabla1{
    background-color: #000;
    border: 2px solid black;
    color: white;
    width: 75%;
    margin-top:200px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.titulo2{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    font-size: 30px;
    color: white;
    margin: 40px;
}

.tabla2{
    background-color: #000;
    border: 2px solid black;
    color: white;
    width: 75%;
    margin-top:200px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    text-align: center;
    font-family: 'Comfortaa', 'cursive';
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

#contacto{
    text-align: center;
    color: white;
    margin: 10px;
    padding: 5px;
    float: inline-start;
}

#formulario{
    background-color: #FFD700;
}

.formu{
    text-align: center;
    font-family: 'cairo', 'sans-serif';
    font-size: 20px;
    padding: 3px;
}

.botones{
    background-color: #5cd4f5;
    border-radius: 20%;
}

.botones:hover{
    color: #000;
}

footer{
    background: rgba(38, 38, 38, 0.696);
    width: 100%;
    height: 115px;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: white;
}

footer p{
    text-align: center;
    font-family: 'cairo', 'sans-serif';
    font-size: 20px;

}

footer a{
    text-align: center;
    display: inline-flex;
    text-decoration: none;
    font-size: 30px;
}
footer a i:hover{
    color: #FFD700;
    cursor: pointer;
}

.subir{
    height: 40px;
    width: 40px;
    background-color: #000;
    border: 5px solid black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFD700;
}
.subir i{
    color: white;
}
.subir i:hover{
    color: #FFD700;
}
@media only screen and (max-width:576px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-image: linear-gradient(to left, #ffd700, #ffc36e, #ffc2ba, #ffd4ef, #ffe9ff, #ffe9ff, #ffe9ff, #ffe9ff, #ffd4ef, #ffc2ba, #ffc36e, #ffd700);
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    .logo{
        border: 0px;
        width: 55px;
        height: 55px;
    }
    .navbar{
        width: 100%;
        height: 80px;
        background-color: rgba(48, 47, 47, 0.694);
    }
    .navbar-nav{
        float: right;
    }
    .navbar-collapse{
        flex-grow: 0;
        font-size: 15px;
        margin: 10px;
        float: right;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size: 20px;
        color: #000;
    }
    .navbar-dark .navbar-nav .nav-link:hover{
        color: #ffd700;
    }
    h1{
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        font-size: 50px;
        color: black;
        margin: 100px;
        align-items: center;
        justify-content: center;
    }
    h2{
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        font-size: 50px;
        color: black;
        margin: 100px;
        align-items: center;
        justify-content: center;
    }
    
    h3{
        text-align: center;
        font-family: 'comfortaa', 'cursive';
        font-size: 25px;
        color: white;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .seccion{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 75px;
        padding: 30px;
        width: 75%;
        height: 400px;
        display: block;
        align-items: center;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: auto;
    }
    
    .articulo{
        color: white;
    }
    
    .seccion1{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin: auto;
        margin-top: 150px;
        padding: 80px;
        width: 90%;
        height: 500px;
        display: inline-flexbox;
        align-items: center;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: auto;
    }
    
    #sec1{
        margin-top: 300px;
    }
    
    .seccion2{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin: auto;
        margin-top: 150px;
        padding: 80px;
        width: 90%;
        height: 500px;
        display: inline-flexbox;
        align-items: center;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: auto;
    }
    .coinmarket{
        background-color: rgb(0, 51, 255);
        border-radius: 20px;
    }
    
    .seccion3{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin: auto;
        margin-top: 150px;
        padding: 80px;
        width: 90%;
        height: 500px;
        display: block;
        align-items: center;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: auto;
    }
    
    .seccion4{
        text-align: center;
        color: white;
        background-color: #000;
        border:2px solid white;
        border-radius: 15px;
        margin: auto;
        margin-top: 150px;
        padding: 80px;
        width: 90%;
        height: 500px;
        display: block;
        align-items: center;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        overflow: auto;
    }
    
    .info{
        text-decoration: none;
        color: #FFD700;
    }
    
    .info:hover{
        color: white;
    }
    
    .titulo1{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        font-size: 30px;
        color: white;
        margin: 20px;
        padding: 10px;
    }
    
    .tabla1{
        background-color: #000;
        border: 2px solid black;
        color: white;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 75px;
        margin-right: 75px;
        padding: 40px;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 50px;
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .titulo2{
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        font-size: 30px;
        color: white;
        margin: 40px;
    }
    
    .tabla2{
        background-color: #000;
        border: 2px solid black;
        color: white;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 75px;
        margin-right: 75px;
        padding: 40px;
        width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 50px;
        text-align: center;
        font-family: 'Comfortaa', 'cursive';
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }
    
    #contacto{
        text-align: center;
        color: white;
        margin: 10px;
        padding: 5px;
        float: inline-start;
    }
    
    #formulario{
        background-color: #FFD700;
    }
    
    .formu{
        text-align: center;
        font-family: 'cairo', 'sans-serif';
        font-size: 20px;
        padding: 3px;
    }
    
    .botones{
        background-color: #5cd4f5;
        border-radius: 20%;
    }
    
    .botones:hover{
        color: #000;
    }
    
    footer{
        background: rgba(38, 38, 38, 0.696);
        width: 100%;
        height: 115px;
        margin-top: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        color: white;
    }
    
    footer p{
        text-align: center;
        font-family: 'cairo', 'sans-serif';
        font-size: 20px;
    
    }
    
    footer a{
        text-align: center;
        display: inline-flex;
        text-decoration: none;
        font-size: 30px;
    }
    footer a i:hover{
        color: #FFD700;
        cursor: pointer;
    }
    
    .subir{
        height: 40px;
        width: 40px;
        background-color: #000;
        border: 5px solid black;
        position: fixed;
        bottom: 20px;
        right: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        box-shadow: 0 0 10px #FFD700;
    }
    .subir i{
        color: white;
    }
    .subir i:hover{
        color: #FFD700;
    }
}
